<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="sd.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">My Addresses</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sd.next('address-add')">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">

  <ion-list>
    <ion-list-header>
      <small>SAVED ADDRESSES</small>
    </ion-list-header>

    <ion-item>
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-icon name="trash-outline" color="danger" slot="end"></ion-icon>
      H. No 60, Block-F sabzazar scheme lahore
    </ion-item>
  </ion-list>

</ion-content>
