<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="sd.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">New Address</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="sd.next('address-add')">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">

  <ion-list lines="none">
    <ion-list-header>
      <small>ADD NEW ADDRESS</small>
    </ion-list-header>

    <ion-item>
      <ion-segment value="home" mode="ios">
        <ion-segment-button value="home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          Home
        </ion-segment-button>
        <ion-segment-button value="office">
          <ion-icon name="business-outline" slot="start"></ion-icon>
          Office
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Address"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input placeholder="City"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="zip"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button expand="block" color="secondary">Save</ion-button>
    </div>
    
  </ion-list>

</ion-content>
