<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="sd.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Change Password</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="sd.next('address-add')">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">

  <ion-list lines="none">
    <ion-list-header>
      <small>ADD NEW PASSWORD</small>
    </ion-list-header>
    
    <ion-item>
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Confirm Password" type="password"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button expand="block" color="secondary">Update</ion-button>
    </div>
    
  </ion-list>

</ion-content>
