ion-slides{
    --bullet-background: var(--ion-color-light);
    --bullet-background-active : var(--ion-color-secondary);
}

:host ::ng-deep .swiper-pagination{
    // bottom: 10%;
    .swiper-pagination-bullet {
        // --bullet-background: #fff;
        width: 16px ;
        height: 16px ;
    }

    .swiper-pagination-bullet-active {
        width: 16px ;
        height: 16px ;
    } 
}

ion-segment{
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
}

.no-bg{
    --background: rgba(0,0,0,0) !important;
    background: rgba(0,0,0,0);
}

.vcenter {
    width:100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}