<ion-menu side="end" menuId="first" contentId="main" disabled="true">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="assets/placeholder1.jpeg" style="border-radius: 50%; overflow: hidden;"></ion-img>
        </ion-col>
        <ion-col size="8" (click)="sd.next('profile')">
          <h4>
            amin ahmad 
            <ion-icon name="create-outline" color="danger"></ion-icon>
            <br>
            <small>+92 324 4904044</small>
          </h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header>
              <h1>Personal</h1>
            </ion-list-header>
            <ion-item>
              <ion-icon name="wallet-outline" slot="start"></ion-icon>
              Wallet
              <ion-badge color="secondary" slot="end">0.00 points</ion-badge>
            </ion-item>
            <ion-item (click)="sd.next('order-history')">
              <ion-icon name="list-outline" slot="start"></ion-icon>
                My Orders
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
            </ion-item>
            <ion-item (click)="sd.next('address-list')">
              <ion-icon name="home-outline" slot="start"></ion-icon>
                My Address
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
            </ion-item>
            <ion-list-header>
              <h1>General</h1>
            </ion-list-header>
            <ion-item (click)="sd.next('change-password')">
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                Change Password
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
            </ion-item>
            <ion-item (click)="sd.next('contact-us')">
              <ion-icon name="call-outline" slot="start"></ion-icon>
                Contact Us
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
            </ion-item>
            <ion-item (click)="sd.logout()">
              <ion-icon name="power-outline" slot="start"></ion-icon>
                Logout
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="secondary">
    <ion-select placeholder="Select a city" interface="popover" value="Lahore">
      <ion-select-option>Lahore</ion-select-option>
      <ion-select-option>Karachi</ion-select-option>
      <ion-select-option>Islamabad</ion-select-option>
    </ion-select>
    <ion-buttons slot="end">
      <ion-button (click)="sd.next('search')">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="sd.next('favourite')">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="sd.menuToggle('first')">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main" [scrollEvents]="true" (ionScroll)="onScroll($event)">

  <ion-slides pager="true" [options]="slideOpts" autoplay="5000" loop="true" speed="300" >
    <ion-slide>
      <ion-img src="assets/1.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/2.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/3.png"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-segment #categoryList scrollable="true" swipeGesture="false" value="0" color="danger" mode="md">
    <ion-segment-button *ngFor="let a of sd.menu; let i = index" [value]="i" (click)="selectCategory(i)">
      <ion-label color="dark">{{a.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list #menuList lines="none" class="no-bg" >

    <div *ngFor="let c of sd.menu; let i = index">
      <ion-item class="no-bg">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin">

              <!-- Title of the category -->
              <h4 class="ion-padding-start">{{c.name}}</h4> 

              <!-- Category menu cards -->
              <ion-card style="width: 95%;" *ngFor="let m of c.menu">
                <ion-card-content class="ion-no-padding ion-no-margin">
                  <ion-grid class="ion-no-padding ion-no-margin">
                    <ion-row class="ion-no-padding ion-no-margin">
                      <ion-col size="3" class="ion-no-padding ion-no-margin">
                        <div class="vcenter">
                          <ion-img src="assets/item.png"></ion-img>
                        </div>
                      </ion-col>
                      <ion-col size="9" class="ion-padding-start">
                        <ion-card-title><small>{{m.name}}</small></ion-card-title>
                          {{m.detail}}
                        <br>
                        <ion-badge color="secondary">RS.{{m.price}}</ion-badge>
                        <br>
                        <ion-grid>
                          <ion-row>
                            <ion-col size="9">
                              <ion-buttons>
                                <ion-button color="tertiary" fill="solid">
                                  <ion-icon name="remove-outline"></ion-icon>
                                </ion-button>
                                <ion-button>
                                  1
                                </ion-button>
                                <ion-button color="tertiary" fill="solid">
                                  <ion-icon name="add-outline"></ion-icon>
                                </ion-button>
                              </ion-buttons> 
                              <ion-button class="ion-margin-start" color="secondary">
                                <ion-icon name="cart-outline" slot="start"></ion-icon>
                                Add
                              </ion-button>
                            </ion-col>
                            <ion-col size="3" class="ion-text-right">
                              <ion-icon size="large" name="heart-outline"></ion-icon>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>

            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-item>
    </div>
  </ion-list>
  <!-- <ion-button (click)="toggleCart()">t</ion-button> -->
</ion-content>

<ion-footer *ngIf="isCart">
  <ion-toolbar color="danger">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <small>1 item</small><br>
          <b>RS. 299 </b><br>
          <small>plus taxes</small>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-button fill="clear" size="large" color="light" (click)="sd.next('checkout')">
            View Cart 
            <ion-icon name="chevron-forward" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>