<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="sd.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Profile</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="sd.next('address-add')">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">

  <ion-list lines="none">
    <ion-list-header>
      <small>UPDATE PROFILE</small>
    </ion-list-header>
    
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4" offset="4" class="ion-text-center">
            <ion-img src="assets/placeholder1.jpeg" style="border-radius: 50%; overflow: hidden;"></ion-img>
            <ion-button color="secondary" >Upload</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-input placeholder="First Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button expand="block" color="secondary">Update</ion-button>
    </div>
    
  </ion-list>

</ion-content>
