<ion-content class="">

  <div class="center ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-img src="assets/logo.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-header>
        <h1 class="ion-text-center">
          Signup
        </h1>
      </ion-card-header>
      <ion-card-content>

        <ion-list lines="none">
          <ion-item>
            <ion-input placeholder="Enter your name" type="text" maxLength="40"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-input placeholder="Enter your email" type="email" maxLength="80"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-input placeholder="Enter your password" type="password" #password></ion-input>
            <ion-button fill="clear" color="dark" style="right: 25px; position: absolute; z-index: 100;" (click)="showPassword()">
              <ion-icon name="eye-outline" #passIcon></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-input placeholder="Re-enter password" type="password" #cpassword></ion-input>
            <ion-button fill="clear" color="dark" style="right: 25px; position: absolute; z-index: 100;" (click)="showPassword()">
              <ion-icon name="eye-outline" #cpassIcon></ion-icon>
            </ion-button>
          </ion-item>
          <div class="ion-padding-end ion-padding-start ion-margin-top">
            <ion-button expand="block" color="danger" (click)="sd.root('menu')">Signup</ion-button>
          </div>
          <hr class="ion-margin">
          <hr class="ion-margin">
          <div>
            <ion-button expand="block" color="danger" fill="clear" (click)="sd.back()">
              <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
              back
            </ion-button>
          </div>
        </ion-list>

      </ion-card-content>
    </ion-card>    
  </div>
  


</ion-content>
