ion-content{
    --background: #E9E9E9 !important;
    background: #E9E9E9 !important;
}

ion-col{
    margin-inline-start: 0px;
}

.center {
    width:100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}