<ion-content class="">

  <div class="center ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-img src="assets/logo.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-header>
        <h1 class="ion-text-center">
          Forgot Password
        </h1>
      </ion-card-header>
      <ion-card-content>

        <ion-list lines="none">
          <ion-item>
            <ion-input placeholder="Enter your email" type="email"></ion-input>
          </ion-item>
          <div class="ion-padding ion-margin-top">
            <ion-button expand="block" color="danger" (click)="sd.root('menu')">Submit</ion-button>
          </div>
          <div>
            <ion-button expand="block" color="danger" fill="clear" (click)="sd.back()">
              <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
              Back to login
            </ion-button>
          </div>
          
        </ion-list>

      </ion-card-content>
    </ion-card>    
  </div>
  


</ion-content>
