<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="sd.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Favourites</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list #menuList lines="none" class="no-bg" >

    <div *ngFor="let m of list; let i = index">
      <ion-item class="no-bg">
        <!-- Category menu cards -->
        <ion-card style="width: 95%;">
          <ion-card-content class="ion-no-padding ion-no-margin">
            <ion-grid class="ion-no-padding ion-no-margin">
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="3" class="ion-no-padding ion-no-margin">
                  <div class="vcenter">
                    <ion-img src="assets/item.png"></ion-img>
                  </div>
                </ion-col>
                <ion-col size="9" class="ion-padding-start">
                  <ion-card-title><small>{{m.name}}</small></ion-card-title>
                    {{m.detail}}
                  <br>
                  <ion-badge color="secondary">RS.{{m.price}}</ion-badge>
                  <br>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="9">
                        <ion-buttons>
                          <ion-button color="tertiary" fill="solid">
                            <ion-icon name="remove-outline"></ion-icon>
                          </ion-button>
                          <ion-button>
                            1
                          </ion-button>
                          <ion-button color="tertiary" fill="solid">
                            <ion-icon name="add-outline"></ion-icon>
                          </ion-button>
                        </ion-buttons> 
                        <ion-button class="ion-margin-start" color="secondary">
                          <ion-icon name="cart-outline" slot="start"></ion-icon>
                          Add
                        </ion-button>
                      </ion-col>
                      <ion-col size="3" class="ion-text-right">
                        <ion-icon size="large" name="heart" color="danger"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
