<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="sd.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Order History</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="sd.next('order-print')">
    <ion-card-content>
      <p>
        <span>Order #</span> <span style="color:#000"> GAPK-47AJKH12</span>
      </p>
      <p>
        Items:
      </p>
      <p style="color: #000;">
        MN Deal 1
      </p>
      <p style="color: #000;">
        MN Deal 1
      </p>

      <p>
        19 Nov, 2021 at 02:30 PM <span style="float: right;">Total: 350.00</span>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
