<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3" style="margin-top: 50%;">
        <ion-img src="assets/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding" style="margin-top: 70%;">
      <ion-col size="12">
        <ion-button expand="block" fill="outline" color="danger" size="large" (click)="sd.next('signup')">Signup</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="danger" size="large" (click)="sd.next('login')">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
