<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="sd.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Contact Us</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-margin-top ion-padding-top">
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-img src="assets/pizza-max.png"></ion-img>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <h2>
          Support Center
        </h2>
        <h5>
          For queries, contact us at: <br><br>
          <span>
            <a href="mailto:support@pizzamax.com.pk">support@pizzamax.com.pk</a><br><br>
            <a href="tel:+923244904044">+923244904044</a>
          </span>
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3" class="ion-text-center">
          <h5 style="color: #fff">Powered By</h5>
          <a href="https://codewoxy.com" target="_blank">
            <ion-img src="assets/codewoxy.png"></ion-img>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>