<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="sd.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Order</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="print()">
        <ion-icon name="print-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #printSection class="ion-padding-start ion-padding-end">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h6>ORDER STATUS</h6>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <div style="width: 84%; margin-left:8%; display: flex;flex-wrap: nowrap;">
          <div class="knob active"></div>
          <div class="line active" style="width: 42%;"></div>
          <div class="knob"></div>
          <div class="line" style="width: 42%;"></div>
          <div class="knob"></div> 
        </div>       
      </ion-col>
      <ion-col size="4" class="ion-padding-start">
        <small class="grey done">PENDING</small>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <small class="grey">CONFIRMED</small>
      </ion-col>
      <ion-col size="4" class="ion-text-right ion-padding-end">
        <small class="grey">DELIVERED</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6>HELPLINE</h6>
        <ion-icon name="call-outline" class="done"></ion-icon> &nbsp;<a class="done" href="tel:03244904044" style="text-decoration: none;">+92 324 4904044</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6>ORDER DETAIL</h6>
        <ion-list lines="full">
          <ion-item>
            <ion-label class="grey">
              ORDER NUMBER
            </ion-label>
            GAPK-47AJKH12
          </ion-item>
          <ion-item>
            <ion-label class="grey">
              DATE
            </ion-label>
            19 Nov, 2021 at 02:30 AM
          </ion-item>
          <ion-item lines="none">
            <ion-label class="grey">
              ADDRESS
            </ion-label>
          </ion-item>
          <ion-item>
            H. No 60, Block-f Sabzazar scheme multan road lahore
          </ion-item>
          <ion-item>
            <ion-label class="grey">
              PAYMENT METHOD
            </ion-label>
            Cash on delivery
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h6>ITEMS</h6>
      </ion-col>
      <ion-col size="1">
        1
      </ion-col>
      <ion-col size="8" style="color: #666">
        MN Deal 1 <br>
        <small>
          Select Size: 7 inch <br>
          Choose your crust: Deep Pan<br>
          Soft Drink: Dew
        </small>
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        350.00
      </ion-col>
    </ion-row>
    <ion-row style="border-top: 1px solid #666;padding-top: 10px;margin-top:10px;">
      <ion-col size="8">
        Subtotal
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        350.00
      </ion-col>
      <ion-col size="8" style="color: #666">
        Tax (%)
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        0
      </ion-col>
      <ion-col size="8" style="color: #666">
        Delivery Charges
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        0
      </ion-col>
      <ion-col size="8">
        Grand Total
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        350.00
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
