.knob{
    width: 20px; 
    height: 20px; 
    background-color: rgb(165, 165, 165); 
    border-radius: 50%;
    float:left;
}

.line{
    height: 6px; 
    margin-top:7px;
    background-color: rgb(165, 165, 165);
    float: left;
}

.active{
    background-color: green !important;
}

.grey{
    color:rgb(165, 165, 165);
}

.done{
    color: green !important;
}

ion-item{
    --padding-start: 0px !important;
    --padding-end: 0px !important;
    --inner-padding-start: 0px !important;
    --inner-padding-end: 0px !important;
}