<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="sd.back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Checkout</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="">

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding-start">
      <h4>Your Delivery Details</h4>
      <p>
        Amin Ahmad<br>
        <span>+923244904044</span><br>
        <span class="danger">select your delivery address </span>
        <span style="float: right; margin-top: -15px;">
          <ion-button color="danger">Select</ion-button>
        </span>
      </p>
      </ion-col>
      <ion-col size="12" class="ion-padding-start ion-padding-end">
        
        <h4>Order Mode</h4>
        <ion-segment scrollable="true" swipeGesture="false" value="1" color="danger" mode="ios">
          <ion-segment-button value="1" >
            <ion-label color="dark">Delivery</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2" >
            <ion-label color="dark">Take Away</ion-label>
          </ion-segment-button>
        </ion-segment>

      </ion-col>
      <ion-col class="ion-padding-end ion-padding-start">
        
        <h4>Payment Method</h4>
        <ion-item>
          <ion-select placeholder="Select payment method" interface="popover" style="width: 100%;">
            <ion-select-option>Cash on delivery</ion-select-option>
            <ion-select-option>Card</ion-select-option>
          </ion-select>
          <ion-icon name="cash-outline" slot="start"></ion-icon>
        </ion-item>

      </ion-col>
      <ion-col class="ion-padding-end ion-padding-start">
        
        <h4>Items</h4>
        <ion-list>
          <ion-item>
            <ion-grid class="ion-no-padding ion-no-margin" style="margin-bottom: 10px;">
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="10" class="ion-no-padding ion-no-margin">
                  <ion-label>
                    MV1 Deal
                  </ion-label>
                  <small style="color:#aaa;">
                    7 inch Pan Pizza <br>
                    Choose your crust: Hand-tossed<br>
                    Pizza Flavor: Cheese Max<br>
                  </small>
                  <ion-buttons>
                    <ion-button color="tertiary" fill="solid">
                      <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>
                    <ion-button>
                      1
                    </ion-button>
                    <ion-button color="tertiary" fill="solid">
                      <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons> 
                </ion-col>
                <ion-col size="2" class="ion-text-right">
                  <ion-label>
                    299.00
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
